/* GENERAL */
:root {
    /* Primary */
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    /*Light Theme */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Dark Theme */
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    /* hover */
    --light-grayish-blue: hsl(236, 33%, 92%);

    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    /* make responsive under 320px */
    min-width: 320px;
}

/* UTILITY CLASSES */
.form-items {
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--very-dark-grayish-blue);
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0;
    padding: 1.5em;
}

.form-items img {
    cursor: pointer;
    margin-left: auto;
    width: 13px;
    height: 13px;
}

.form-middle .form-items {
    border-bottom: 1px solid var(--light-grayish-blue);
}

.form-states-desktop {
    display: none;
}

.checkmark {
    cursor: pointer;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--light-grayish-blue);
    margin-right: 1em;
}

.checked {
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bright-blue);
}

.box-shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* MAIN */
main {
    position: relative;
    height: 100%;
}

/* HERO */
.hero-container {
    height: 100%;
}

.hero-top {
    height: 225px;
    background-image: url(../images/bg-mobile-light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 3em 1.25em 0;
}

.hero-content h1 {
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.hero-content img {
    min-width: 20px;
    height: 25px;
}

.hero-bottom {
    height: auto;
    background-color: var(--very-light-gray);
}

/* FORM */

/* FORM TOP */
form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 125px;
    padding: 0 1.25em;
}

.form-create {
    border-radius: 4px;
    margin-bottom: 1em;
}

/* FORM MIDDLE */
.form-middle {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.form-info {
    color: var(--dark-grayish-blue);
    margin-bottom: 1em;
    justify-content: space-between;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-states {
    color: var(--dark-grayish-blue);
    justify-content: space-evenly;
    border-radius: 4px;
}

.form-states button {
    cursor: pointer;
}

.form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    color: var(--dark-grayish-blue);
}